@charset "utf-8";
/* CSS Document */
body, html {
    font: normal 12px / 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #eeeeee;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.row {
    margin: 0;
}

.ieOnly {
    display: none;
}

header h1 {
    font-size: 2em;
    line-height: 2em;
    margin: .5em 0 !important;
    text-align: center;
}

h2 {
    font-size: 1.4em;
    line-height: 1.4em;
}

p {
    font-size: 1em;
}

ul {
    list-style: disc;
    margin-left: 15px;
}

a {
    outline: none;
    color: #404000;
    text-decoration: none;
}

strong {
    letter-spacing: 1px;
    font-size: 18px;
}

footer, header {
    position: absolute;
    display: flex;
    flex: 1 0 20vh;
    margin: 2em;
    width: calc(100% - 4em);
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    pointer-events: none;
}

header {
    top: 0;
}

footer > *, header > * {
    flex: 0 0 30vw;
}

footer {
    bottom: 0;
    align-items: stretch;
}

footer a, footer a:hover {
    color: #fff;
}

footer input {
    pointer-events: all;
}

.hint {
    text-align: left;
}

.hint > * {
    margin: 10px 0;
}

.settings {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.setting {
    display: flex;
    justify-content: flex-end;
}

.setting > * {
    margin-left: 1vw;
}

.wizzard {
    position: relative;
}

.wizzard p {
    position: absolute;
    right: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, .3);
    color: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.wizzard p.active {
    opacity: 1;
}

.myCanvas {
    border: 0 solid black;
    background-color: #000;
    width: 100%;
    height: 100%;
    color: #404000;
    font: 8px bold 'trebuchet MS';
}

.createSnapshot {
    display: none;
}

.touchDevice .createSnapshot {
    display: inline;
    text-decoration: underline;
}

.h {
    display: none;
}
