@charset "utf-8";
/* CSS Document */
html, body{
	font:normal 12px / 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#404000;
	height:100%;
}
#container{
	margin:0 auto;
	position:relative;
	width:850px;
	padding:50px 0 50px 50px;
	background-color:#cc0;
	-moz-box-shadow: 1px 3px 4px #888;
	-webkit-box-shadow: 1px 3px 4px #888;
	box-shadow: 1px 3px 4px #888;
}
h1, h2, p{
	margin-bottom:12px;
}
h1{
	font-size:24px;
	line-height:24px;
	text-shadow: 0px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=0, offy=1);
}
h2{
	font-size:18px;
	line-height:24px;
}
p{
	font-size:14px;
}
a{
	outline:none;
	color:#404000;
	text-decoration:none;
}
canvas {
	border:0px solid black;
	background-color:#404000;
	margin:20px 0;
	color:#404000;
	font:8px bold 'trebuchet MS';
}
canvas.f{
	width:100%;
	height:100%;
}
.r{float:right;}
.h{display:none;}
.f{
	position:absolute;
	left:0;
	top:0;
	width:100% !important;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
}
footer{
	padding:0 50px;
}
.chromeFrameInstallDefaultStyle {
	width: 100%; /* default is 800px */
	border: 5px solid blue;
}

/* Ads */
#ads{
	position:absolute;
	bottom:0px;
	width:100%;
	text-align:center;
}

/* Google+1 */
#___plusone_0{
	position:absolute;
	left:10px;
	top:10px;
}