@charset "utf-8";
/* CSS Document */
html, body{
	font:normal 12px / 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#404000;
	height:100%;
}
#container{
	margin:0 auto;
	position:relative;
	width:850px;
	padding:50px 0 50px 50px;
	background-color:#cc0;
	-moz-box-shadow: 1px 3px 4px #888;
	-webkit-box-shadow: 1px 3px 4px #888;
	box-shadow: 1px 3px 4px #888;
}
h1, h2, p{
	margin-bottom:12px;
}
h1{
	font-size:24px;
	line-height:24px;
}
h2{
	font-size:18px;
	line-height:24px;
}
p{
	font-size:14px;
}
ul{
	list-style:disc;
	margin-left:15px;
}
a{
	outline:none;
	color:#404000;
	text-decoration:none;
}
strong{
	letter-spacing:1px;
	font-size:18px;
}
canvas {
	border:0px solid black;
	background-color:#000;
	margin:20px 0;
	color:#404000;
	font:8px bold 'trebuchet MS';
}
.createSnapshot{
	display:none;
}
.touchDevice .createSnapshot{
	display:inline;
	text-decoration:underline;
}
.r{float:right;}
.h{display:none;}

footer{
	padding:0 50px 0 0;
}
.chromeFrameInstallDefaultStyle {
	width: 100%; /* default is 800px */
	border: 5px solid blue;
}

/* Ads */
#ads{
	position:absolute;
	bottom:0px;
	width:100%;
	text-align:center;
	z-index:-100;
}

/* AddThis */
.addThis{
	position:fixed;
	left:2px;
	top:2px;
}